<?xml version="1.0" encoding="UTF-8"?>
<manifest>

  <project path="device/qcom/sepolicy" name="device_qcom_sepolicy" remote="aoscp" />
  <project path="system/bt" name="system_bt" groups="pdk" remote="aoscp" />
  <project path="system/core" name="system_core" groups="pdk" remote="aoscp" />
  <project path="system/extras" name="system_extras" groups="pdk" remote="aoscp" />
  <project path="system/hardware/interfaces" name="system_hardware_interfaces" groups="pdk" remote="aoscp" />
  <project path="system/media" name="system_media" groups="pdk" remote="aoscp" />
  <project path="system/netd" name="system_netd" groups="pdk" remote="aoscp" />
  <project path="system/nfc" name="system_nfc" groups="pdk" remote="aoscp" />
  <project path="system/qcom" name="system_qcom" groups="qcom" remote="aoscp" />
  <project path="system/sepolicy" name="system_sepolicy" groups="pdk" remote="aoscp" />
  <project path="system/vold" name="system_vold" groups="pdk" remote="aoscp" />
  
</manifest>